<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45-Client" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SnkLib.App.CookieGetter" version="2.3.1.0" targetFramework="net452" />
  <package id="SnkLib.App.CookieGetter.Forms" version="1.4.0.0" targetFramework="net452" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
</packages>